<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="empty-para">Shopping Cart</h1>
    <div class="product-list">
        {% if cart_contents %}
            {% for item in cart_contents %}
                <div class="product">
                    <h2>{{ item[1] }}</h2>
                    <p>Price: {{ item[3] }}</p>
                    <form action="/remove_from_cart/{{ item[1] }}" method="post">
                        <button type="submit" class="button">Remove from Cart</button>
                        <a href="/"><button class="button">Continue Shopping</button></a>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p class="empty-para">Your cart is empty...:)</p>
        {% endif %}
    </div>
   <!-- <form action="/checkout" method="post">
        <button type="submit" class="button">Checkout</button>
    </form>-->
</body>
</html>
