<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Product Listing</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="logo-container">
            <img class="logo-image" src="https://asset.brandfetch.io/idsPGfosc4/id2qIUbw4f.png?updated=1710958678988" alt="BY STORES">
            <h1 class="logo-text title-size">BY STORE</h1>
        </div>
        
        <a href="/cart"><button class="cart-button">Cart</button></a>

        <div class="search-container">
            <form action="{{ url_for('search') }}" method="get" class="form">
                <input class="search_bar" type="text" name="query" placeholder="Search products...">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>

    <h3 class="title-heading title-size">Available Product</h3>
    <div class="product-list">
        {% if products %}
            {% for product in products %}
                <div class="product">
                    <div class="product-details">
                        <h2 class="product-heading">{{ product[1] }}</h2>
                        <p class="price">Price: {{ product[3] }}</p>
                        <form class="form" action="/add_to_cart/{{ product[1] }}" method="post">
                            <button type="submit" class="button">Add to Cart</button>
                        </form>
                        <a href="/product/{{ product[1] }}"><button type="button" class="button">View Details</button></a>
                    </div>
                    <div class="side-image">
                        <img class="" src="{{ product[5] }}" alt="{{ product[1] }}">
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="empty-para">No products available.</p>
        {% endif %}
    </div>
</body>
</html>
