body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    background-image:linear-gradient(to right,#ffffff, #acaaaa);;
}

.product h2 {
    margin-top: 0;
}

.product img {
    width: 100%;
    margin-top: 10px;
}

.product-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.product-details img {
    width: 100%;
    margin-top: 20px;
}
.button{
    color: #ffffff;
    width: 140px;
    height: 35px;
    border-radius: 4px;
    border-color: hsl(20, 98%, 16%);
    color: #000000;
    margin-bottom: 10px;
}
.head{
    color: rgb(82, 12, 12);
}
.para{
    color: #5c0000;
}
.product-title{
    color: #7a0000;
}
.empty-para{
    color: #5c0000;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: 700;
}
.title-heading{
    margin-left: 30px;
    color: #5c0000;
}
.title-size{
    font-size: 40px;
    color: #5c0000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
